* {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
}
h1 {
  width: 100%;
  height: 10vh;
  background-color: #060948;
  color: #ead8b1;
  font-size: 30px;
  font-weight: bold;
}
.divImg {
  width: 250px;
  height: 200px;
  border: 1px solid #060948;
  border-radius: 20px;
}
.wonders {
  background-color: #ead8b1;
}
img {
  width: 100%;
  height: 100%;
  object-fit: fill;
  border-radius: 20px;
}

.card {
  width: 350px;
  height: 300px;
  background-color: #82bfc5;
  padding: 10px;
  border-radius: 10px;
  margin: 10px;
  color: #060948;
}
.btn {
  border-radius: 10px;
  margin-top: 5px;
  padding: 10px;
  background-color: #088395;
  cursor: pointer;
  color: #ead8b1;
}
.btn:hover {
  background-color: #1a444a;
}
